.row {
  background-color: #fff;
  position: absolute;
  width: 91%;
  margin: 0 4.5%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 40px 0px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.image {
  display: flex;
  flex: 0 1 10%;
  justify-content: center;
  align-items: center;
  img {
    flex: 0 1 10%;
    height: 50px;
    width: 100%;
    border-radius: 50%;
  }
}

.ID {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
  }
}
.name {
  flex: 0 1 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email {
  flex: 0 1 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phone {
  flex: 0 1 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company {
  flex: 0 1 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .email {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .email {
    display: none;
  }
  .phone {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .company {
    display: none;
  }
}
